<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css')}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/verification.css')}}">
  <title>Verification | ZackDash</title>
</head>

<body>
  <h1>Verification</h1>
  <div id="center-contener">
    <div class="loader"></div>
  </div>

  <script src="{{ url_for('static', filename='scripts/verification.js')}}"></script>

</body>

</html>